@use "sprucecss/scss/spruce" as *;

.search-body {
    height: 100dvh;
}

.search-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 120ch;
    padding-bottom: 5em;

    p {
	text-align: center;
    }

    img {
	max-width: 50%;
	height: auto;
	margin-inline: auto;
    }

    form {
	margin-top: spacer('s');
    }
}
