<div class="form-group">
    {{ form.query }}
</div>
<details>
    <summary>Advanced Search</summary>
    <fieldset class="form-group-container">
	<div class="form-group--row">
	    <label class="form-label" for="{{ form.views.id_for_label }}">{{ form.views.label }}</label>
	    {{ form.views }}
	    <span class="form-description" id="id_views_helptext">
		{{ form.views.help_text }}
	    </span>
	</div>
	<div class="form-group--row">
	    <label class="form-label" for="{{ form.likes.id_for_label }}">{{ form.likes.label }}</label>
	    {{ form.likes }}
	    <span class="form-description" id="id_likes_helptext">
		{{ form.likes.help_text }}
	    </span>
	</div>
	<div class="form-group--row">
	    <label class="form-label" for="{{ form.grades.id_for_label }}">{{ form.grades.label }}</label>
	    {{ form.grades }}
	    <span class="form-description" id="id_grades_helptext">
		{{ form.grades.help_text }}
	    </span>
	</div>
	<div class="form-group--row">
	    <label class="form-label" for="{{ form.standards.id_for_label }}">{{ form.standards.label }}</label>
	    {{ form.standards }}
	    <span class="form-description" id="id_standards_helptext">
		{{ form.standards.help_text }}
	    </span>
	</div>
    </fieldset>
</details>

