{% extends "base.html" %}

{% block title %} | Studio{% endblock %}

{% block content %}
    <main class="container">
	{% if messages %}
	    {% for message in messages %}
		<div role="alert" class="alert alert--success" data-controller="remove-me">
		    <div class="alert__caption">
			{{ message }}			
		    </div>
		    <button class="alert__close" aria-label="Close alert" data-action="remove-me#remove">
			{% heroicon_solid 'x-mark' %}
		    </button>
		</div>
	    {% endfor %}
	{% endif %}
	<h1>conneCTION Studio</h1>
	<hr/>
	<turbo-frame id="posts" class="stack" data-controller="frame-reload" data-action="turbo:submit-end->frame-reload#reload:!self">
	    <form data-controller="submit-form">
		{{ form }}
	    </form>
	    <div class="stack">
		{% for post in posts %}
		    {% include "studio/partials/post_card.html" %}
		    {% if not forloop.last %}
			<hr style="width: 100%; height: 5px;" />
		    {% endif %}
		{% empty %}
		    <h2>No Posts yet</h2>
		    <a data-turbo-frame="_top" href="{% url 'studio:post_create' %}">Create a new post.</a>
		{% endfor %}
	    </div>
	</turbo-frame>
    </main>
{% endblock %}
