<div id="post_{{ post.pk }}" class="post-card post-card--horizontal">
    <div class="post-card__body">
        <div class="post-card__meta">
	    {% if post.metadata.grades.count %}
		<span>Grades: {{ post.metadata.grades.all|join:", " }}</span>
	    {% endif %}
	    {% if post.metadata.standards.count %}
		<span>Standards: {{ post.metadata.standards.all|join:", " }}</span>
	    {% endif %}
	    <span>Views: {{ post.views }}</span>
	    <span>Likes: {{ post.likes__count }}</span>
        </div>
        <h2 class="post-card__title">
            <a class="post-card__link" href="{% url 'content:post_detail' post.pk %}">{{ post.title }}</a>
        </h2>
    </div>
</div>
